section {
    padding: 25px;
}
.section-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.beer-filter-container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: auto;
    background-color: #efefef;
    width: 100%;
    display: inline-block;
}